<!-- Modal update record conclusion, prescribe medicine and other servies -->
<form class="modal fade" id="newPatientModal" style="overflow-y: auto">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h6 class="modal-title">Thông tin bệnh nhân mới</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Tên bệnh nhân*</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputName" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputBirth" class="col-sm-3 col-form-label">Ngày sinh*</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="inputBirth" placeholder="dd-mm-yyyy" value="" min="1997-01-01"
              max="2030-12-31" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPhone" class="col-sm-3 col-form-label">Số điện thoại*</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="inputPhone" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputAddress" class="col-sm-3 col-form-label">Địa chỉ*</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="inputAddress" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputGender" class="col-sm-3 col-form-label">Giới tính*</label>
          <div class="col-sm-9">
            <select id="inputGender" class="custom-select" style="width: 100%" required>
              <option value="" selected disabled>Chưa chọn</option>
              <option value="male">Nam</option>
              <option value="female">Nữ</option>
              <option value="others">Khác</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputJob" class="col-sm-3 col-form-label">Nghề nghiệp</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputJob">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputWorkplace" class="col-sm-3 col-form-label">Nơi làm việc</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputWorkplace">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputRelaPhone" class="col-sm-3 col-form-label">Số điện thoại người thân</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="inputRelaPhone">
          </div>
        </div>
      </div>

      <div class="modal-header py-2">
        <h6 class="modal-title">Thông tin hồ sơ khám bệnh</h6>
      </div>

      <div class="modal-body">
        <div class="justify-content-between py-2">
          <label class="pr-2" for="inputSymptom">Triệu chứng bệnh*</label>
          <textarea id="inputSymptom" class="form-control" required></textarea>
        </div>
      </div>


      <div class="modal-footer py-1">
        <button type="submit" class="btn btn-success">Tiếp tục</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>

    </div>
  </div>
</form>

<script>
  $('#newPatientModal').on('hidden.bs.modal', function (event) {
    document.getElementById('newPatientModal').reset();
  });

  // Add patient then add record
  $("#newPatientModal").submit(function (e) {
    e.preventDefault();
    const dataToPost = {
      HOTEN: $('#newPatientModal #inputName').val(),
      NGAYSINH: $('#newPatientModal #inputBirth').val(),
      SDT: $('#newPatientModal #inputPhone').val(),
      DIACHI: $('#newPatientModal #inputAddress').val(),
      GIOITINH: $('#newPatientModal #inputGender').val(),
      NGHENGHIEP: $('#newPatientModal #inputJob').val(),
      NOILAMVIEC: $('#newPatientModal #inputWorkplace').val(),
      SDTNGUOITHAN: $('#newPatientModal #inputRelaPhone').val()
    }

    const jsonToPost = JSON.stringify(dataToPost);
    $.ajax({
      url: '/patients',
      type: 'POST',
      dataType: 'json',
      data: jsonToPost,
      contentType: 'application/json'
    }).done(function (data) {
      Swal.fire({
        title: 'Đã lưu thông tin bệnh nhân!',
        icon: 'success',
        confirmButtonText: 'Ok'
      }).then((result) => {
        const id = data.id;
        if (id) {
          addMedicalRecord(id);
        }
      })
    }).fail(function (error) {
      console.log('error', error)
      Swal.fire({
        title: 'Lỗi!',
        text: "Lỗi hoặc Không đủ quyền lưu thông tin bệnh nhân",
        icon: 'error',
        confirmButtonText: 'Cool'
      })
    });
  });

  const addMedicalRecord = patientId => {
    const dataToPost = {
      ID_BENHNHAN: +patientId,
      TINHTRANGBD: $('#newPatientModal #inputSymptom').val()
    }

    const jsonToPost = JSON.stringify(dataToPost);
    $.ajax({
      url: '/medical-records',
      type: 'POST',
      dataType: 'json',
      data: jsonToPost,
      contentType: 'application/json'
    }).done(function (data) {
      Swal.fire({
        title: 'Đã lưu hồ sơ bệnh án!',
        icon: 'success',
        confirmButtonText: 'Ok'
      }).then((result) => {
        const id = data.id;
        console.log('id :>> ', data);
        if (id) {
          cooordiate(id);
        }
      })
    }).fail(function (error) {
      console.log('error', error)
      Swal.fire({
        title: 'Lỗi!',
        text: "Lỗi hoặc Không đủ quyền lưu thông tin hồ sơ bệnh án",
        icon: 'error',
        confirmButtonText: 'Cool'
      })
    });
  }

  let cooordiate = recordId => {
    $('#newPatientModal').modal('hide');
    $('#coordinateModal').modal('show');
    $("#coordinateModal #recordId").val(recordId);
  }
</script>