<!-- Modal Add -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h6 class="modal-title">Thông tin hồ sơ dịch vụ</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="justify-content-between py-2">
          <label class="pr-2" for="typePriv">Mã khám bệnh:</label>
          <select id="typePriv" class="custom-select" style="width: 100%" required>
            <option value="" selected disabled>Chưa chọn</option>
            <option value="SELECT">SELECT</option>
            <option value="INSERT">INSERT</option>
            <option value="UPDATE">UPDATE</option>
            <option value="DELETE">DELETE</option>
          </select>
        </div>
        <div class="justify-content-between py-2">
          <label class="pr-2" for="typePriv">Mã dịch vụ:</label>
          <select id="typePriv" class="custom-select" style="width: 100%" required>
            <option value="" selected disabled>Chưa chọn</option>
            <option value="SELECT">SELECT</option>
            <option value="INSERT">INSERT</option>
            <option value="UPDATE">UPDATE</option>
            <option value="DELETE">DELETE</option>
          </select>
        </div>
        <div class="justify-content-between py-2">
          <label class="pr-2" for="typePriv">Kết luận:</label>
          <textarea id="" class="form-control" required></textarea>
        </div>
      </div>


      <div class="modal-footer py-1">
        <button type="submit" class="btn btn-success" data-dismiss="modal" data-toggle="modal"
          data-target="#coordinateModal">Tiếp tục</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>

    </div>
  </div>
</div>